# -----------------------------------------------------------------------------
# Site settings
# -----------------------------------------------------------------------------

title: Hyunseung Lee
first_name: Hyunseung
last_name: Lee
email: thomas96124@gmail.com
description: >
  M.A. Economics @ Seoul National University | Aspiring Data Scientist | Causal Inference & Machine Learning
url: https://hyunseung-data.github.io
baseurl: ""

# -----------------------------------------------------------------------------
# Theme
# -----------------------------------------------------------------------------
remote_theme: alshedivat/al-folio

# -----------------------------------------------------------------------------
# Layout
# -----------------------------------------------------------------------------
navbar_fixed: true
footer_fixed: false
search_enabled: false
socials_in_search: false

# Dimensions
max_width: 940px

# -----------------------------------------------------------------------------
# Open Graph & Schema.org
# -----------------------------------------------------------------------------
serve_og_meta: true
serve_schema_org: true
og_image: /assets/img/profile.jpeg

# -----------------------------------------------------------------------------
# Social integration
# -----------------------------------------------------------------------------
github_username: hyunseung-data
linkedin_username: hyunseunglee
email_address: thomas96124@gmail.com

# -----------------------------------------------------------------------------
# Analytics
# -----------------------------------------------------------------------------
# google_analytics: UA-XXXXXXXXX-X

# -----------------------------------------------------------------------------
# Collections
# -----------------------------------------------------------------------------
collections:
  news:
    defaults:
      layout: post
    output: true
    permalink: /news/:path/
  projects:
    output: true
    permalink: /projects/:path/

# -----------------------------------------------------------------------------
# Jekyll settings
# -----------------------------------------------------------------------------
markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  syntax_highlighter_opts:
    css_class: 'highlight'
    span:
      line_numbers: false
    block:
      line_numbers: false
      start_line: 1

# Includes & Coverage
include: ['_pages']
exclude:
  - bin
  - Gemfile
  - Gemfile.lock
  - vendor

# Plug-ins
plugins:
  - jekyll-archives
  - jekyll-email-protect
  - jekyll-feed
  - jekyll-get-json
  - jekyll-imagemagick
  - jekyll-jupyter-notebook
  - jekyll-link-attributes
  - jekyll-minifier
  - jekyll-paginate-v2
  - jekyll-regex-replace
  - jekyll-scholar
  - jekyll-sitemap
  - jekyll-toc
  - jekyll-twitter-plugin
  - jemoji

# -----------------------------------------------------------------------------
# Jekyll Scholar
# -----------------------------------------------------------------------------
scholar:
  last_name: [Lee]
  first_name: [Hyunseung]

# Sitemap settings
defaults:
  - scope:
      path: "assets"
    values:
      sitemap: false

# -----------------------------------------------------------------------------
# Pagination
# -----------------------------------------------------------------------------
pagination:
  enabled: true

# -----------------------------------------------------------------------------
# Optional Features
# -----------------------------------------------------------------------------
enable_google_analytics: false
enable_panelbear_analytics: false
enable_google_verification: false
enable_bing_verification: false
enable_masonry: true
enable_math: true
enable_tooltips: false
enable_darkmode: true
enable_navbar_hierarchies: false
enable_project_categories: true
enable_medium_zoom: true
